{%extends 'main/base.html'%}

{%block title%}
Properties Page
 {% endblock %}

{%block content %}
<form method="post" action="#">
    {% csrf_token %}
    <table>
        <tr style="text-align:center">
            <th>Address</th>
            <th>Rented</th>
            
            <th> Bedrooms </th>
            <th> Bathrooms </th>
            <th> Tenant </th>
            <th> Image </th>


        </tr>

        {%for home in ls%}

        <tr>
            <td> {{home.address}}</td>


            {% if home.rented == True%}

            <td><input type="checkbox" , value="rented" , name="c{{home.id}}" checked>Rented </td>
            <td style="text-align:center"> {{home.bedrooms}}</td>
            <td style="text-align:center"> {{home.bathrooms}}</td>
            <td> {{home.tenant}}</td>
            {%else%}

            <td><input type="checkbox" , value="rented" , name="c{{home.id}}">Available  </td>
            <td style="text-align:center"> {{home.bedrooms}}</td>
            <td style="text-align:center"> {{home.bathrooms}}</td>
            <td  style="text-align:center">Vacant </>
            {%endif%}




            <td><img src="/static/img/{{home.id}}.png" alt="Property Image" /></td>


            {%endfor%}


        </tr>
    </table>
    <button type="submit" , name="save", value="save">Save</button>
    <button type="submit" , name="delete", value="delete">Delete Property</button>
    <button type="submit" , name="new", value="new">Create New Property</button>
    <input type="text", name="info">


</form>
    {% endblock %}