{%extends 'main/base.html'%}

{%block title%}
Tickets Page
 {% endblock %}

{%block content %}
<form method="post" action="#">
    {% csrf_token %}
    <table>
        <tr style="text-align:center">
            <th>Ticket # </th>
            <th>Date of Issue</th>
            <th>Category </th>
            <th>Urgency </th>
            <th>Tenant</th>
            <th>Property</th>
            <th>Issue</th>
            <th>Notes</th>
            <th>Date Completed</th>
        </tr>

        {%for ticket in ls%}

        <tr>

            <td> {{ticket.ticketno}}</td>
            <td> {{ticket.date}}</td>
            <td> {{ticket.category}}</td>
            <td> {{ticket.urgency}}</td>
            <td> {{ticket.tenant}}</td>
            <td> {{ticket.item}}</td>
            <td> {{ticket.issue}}</td>
            <td> {{ticket.notes}}</td>

            {%if ticket.pets == True%}
            <td><input type="checkbox" , value="clicked" , name="c{{ticket.complete}}" checked>Completed </td>
            {% else %}
            <td><input type="checkbox" , value="clicked" , name="c{{ticket.complete}}">Working on it.</td>

            {%endif%}
            <td style="text-align:center"> {{ticket.email}}</td>





        </tr>
        {%endfor%}
    </table>    
    <button type="submit" , name="save" , value="save">Save</button>
    <button type="submit" , name="new" , value="new">New Ticket</button>



</form>
    {% endblock %}