{%extends 'main/base.html'%}

{%block title%}
Tickets Page
 {% endblock %}

{%block content %}
<form method="post" action="#">
    {% csrf_token %}
    <table>
        <tr style="text-align:center">
            <th>Ticket # </th>
            <th>Date of Issue</th>
            <th>Category </th>
            <th>Urgency </th>
            <th>Tenant</th>
            <th>Property</th>
            <th>Issue</th>
            <th>Notes</th>
            <th>Date Completed</th>
        </tr>

        {%for ticket in ls%}

        <tr>

            <td> {{ticket.ticketno}}</td>
            <td> {{ticket.date}}</td>
            <td> {{ticket.category}}</td>
            <td> {{ticket.urgency}}</td>
            <td> {{ticket.tenant}}</td>
            <td> {{ticket.item}}</td>
            <td> {{ticket.issue}}</td>
            <td> {{ticket.notes}}</td>

            {%if ticket.complete == True%}

                {%if user.id < 4  %}
                    <td><input type="checkbox" , value="clicked" , name="c{{ticket.ticketno}}" checked> <img src="/static/img/smiley.jpg" alt="Completed" /> {{ticket.dateComplete}} </td>
                {% else %}
                    <td><img src="/static/img/smiley.jpg" alt="Completed" /> {{ticket.dateComplete}} </td>
                {%endif%}
            {% else %}

                {%if user.id < 4  %}
                    <td><input type="checkbox" , value="clicked" , name="c{{ticket.ticketno}}"> Working on it.</td>
                {% else %}
                    <td>In Progress</td>
                {%endif%}
            {%endif%}



        </tr>
        {%endfor%}
    </table>    
    {%if user.id < 4 %}
    <button type="submit" , name="save" , value="save">Save</button>
    {%endif%}
    <button type="submit" , name="new" , value="new">New Ticket</button>



</form>
    {% endblock %}